@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Intro';
    src: url('http://localhost:8000/template-user/font/intro.otf'),
}

a {
    text-decoration: none !important;
}

/* ============ Font Size  ================== */
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

/* ============ Text Color ================== */
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(158 158 158 / var(--tw-text-opacity));
}

.text-blue-400 {
    --tw-text-opacity: 1;
    color: rgb(96 165 250 / var(--tw-text-opacity));
}

.text-green-500 {
    --tw-text-opacity: 1;
    color: rgb(31 183 103 / var(--tw-text-opacity));
}

.text-blue-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(2 43 85 / var(--tw-text-opacity));
}

.text-green-700 {
    --tw-text-opacity: 1;
    color: rgb(29 128 185 / var(--tw-bg-opacity));
}

.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(66 66 66 / var(--tw-text-opacity));
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(97 97 97 / var(--tw-text-opacity));
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(117 117 117 / var(--tw-text-opacity));
}


.text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(224 224 224 / var(--tw-text-opacity));
}

.text-green-800 {
    --tw-text-opacity: 1;
    color: rgb(0 132 68 / var(--tw-text-opacity));
}

.text-blue-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(8 52 97 / var(--tw-text-opacity));
}

.text-blue-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(141 157 181 / var(--tw-text-opacity));
}

.text-blue-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(26 67 115 / var(--tw-text-opacity));
}

.text-green-600 {
    --tw-text-opacity: 1;
    color: rgb(22 167 92 / var(--tw-text-opacity));
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(189 189 189 / var(--tw-text-opacity));
}

.text-indigo-600 {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
}

.text-\[\#D4D5E9\] {
    --tw-text-opacity: 1;
    color: rgb(212 213 233 / var(--tw-text-opacity));
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
}

.text-blue-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(98 119 152 / var(--tw-text-opacity));
}

.text-transparent {
    color: transparent;
}

.text-blue-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(19 60 107 / var(--tw-text-opacity));
}

.text-blue-gray-100 {
    --tw-text-opacity: 1;
    color: rgb(185 195 211 / var(--tw-text-opacity));
}

.text-blue-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(0 27 61 / var(--tw-text-opacity));
}

.text-green-100 {
    --tw-text-opacity: 1;
    color: rgb(195 233 208 / var(--tw-text-opacity));
}

.text-blue-700 {
    --tw-text-opacity: 1;
    color: rgb(29 78 216 / var(--tw-text-opacity));
}

.text-green-300 {
    --tw-text-opacity: 1;
    color: rgb(112 205 148 / var(--tw-text-opacity));
}

.text-red-600 {
    --tw-text-opacity: 1;
    color: rgb(220 38 38 / var(--tw-text-opacity));
}

.text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(33 33 33 / var(--tw-text-opacity));
}

.text-gray-50 {
    --tw-text-opacity: 1;
    color: rgb(250 250 250 / var(--tw-text-opacity));
}

.text-blue-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(65 92 132 / var(--tw-text-opacity));
}


.text-red-400 {
    --tw-text-opacity: 1;
    color: rgb(248 113 113 / var(--tw-text-opacity));
}


.text-blue-900 {
    --tw-text-opacity: 1;
    color: rgb(30 58 138 / var(--tw-text-opacity));
}

.text-green-50 {
    --tw-text-opacity: 1;
    color: rgb(230 246 236 / var(--tw-text-opacity));
}

.text-opacity-80 {
    --tw-text-opacity: 0.8;
}

/* ============ Color Background ============ */
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-indigo-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}

.bg-green-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(6 149 80 / var(--tw-bg-opacity));
}

.bg-green-600 {
    --tw-bg-opacity: 1;
    background-color: #2980b9
}

.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(238 238 238 / var(--tw-bg-opacity));
}


.bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 183 103 / var(--tw-bg-opacity));
}

.bg-gray-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(224 224 224 / var(--tw-bg-opacity));
}

.bg-green-primary {
    --tw-bg-opacity: 1;
    background-color: #2980b9
}



.bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(66 66 66 / var(--tw-bg-opacity));
}

.bg-transparent {
    background-color: transparent;
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}


.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.bg-green-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(0 132 68 / var(--tw-bg-opacity));
}

.bg-gray-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(158 158 158 / var(--tw-bg-opacity));
}



.bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(33 33 33 / var(--tw-bg-opacity));
}

.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.bg-red-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(248 113 113 / var(--tw-bg-opacity));
}



.bg-green-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(230 246 236 / var(--tw-bg-opacity));
}

.bg-yellow-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(253 224 71 / var(--tw-bg-opacity));
}

.bg-red-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 226 226 / var(--tw-bg-opacity));
}

.bg-blue-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 246 255 / var(--tw-bg-opacity));
}

.bg-green-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(0 100 48 / var(--tw-bg-opacity));
}

.bg-green-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(195 233 208 / var(--tw-bg-opacity));
}



.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

.bg-red-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 242 242 / var(--tw-bg-opacity));
}

.bg-opacity-70 {
    --tw-bg-opacity: 0.7;
}

.bg-opacity-60 {
    --tw-bg-opacity: 0.6;
}

.bg-opacity-40 {
    --tw-bg-opacity: 0.4;
}

.bg-opacity-50 {
    --tw-bg-opacity: 0.5;
}

.bg-opacity-20 {
    --tw-bg-opacity: 0.2;
}

.bg-opacity-5 {
    --tw-bg-opacity: 0.05;
}

.bg-opacity-0 {
    --tw-bg-opacity: 0;
}

.bg-opacity-100 {
    --tw-bg-opacity: 1;
}

.bg-opacity-75 {
    --tw-bg-opacity: 0.75;
}

.bg-opacity-10 {
    --tw-bg-opacity: 0.1;
}

.border-green-700 {
    --tw-border-opacity: 1;
    border-color: rgb(6 149 80 / var(--tw-border-opacity));
}

.hover\:border-gray-100:hover {
    --tw-border-opacity: 1;
    border-color: rgb(245 245 245 / var(--tw-border-opacity));
}

.hover\:border-\[\#E9EDF4\]:hover {
    --tw-border-opacity: 1;
    border-color: rgb(233 237 244 / var(--tw-border-opacity));
}

.hover\:border-white:hover {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.hover\:border-opacity-10:hover {
    --tw-border-opacity: 0.1;
}

.hover\:bg-indigo-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(99 102 241 / var(--tw-bg-opacity));
}

.bg-green-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 132 68 / var(--tw-bg-opacity));
}

.hover\:bg-gray-200:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(238 238 238 / var(--tw-bg-opacity));
}

.hover\:\!bg-gray-300:hover {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(224 224 224 / var(--tw-bg-opacity)) !important;
}

.hover\:bg-green-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(230 246 236 / var(--tw-bg-opacity));
}

.hover\:bg-green-800:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 132 68 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#F0FBF4\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(240 251 244 / var(--tw-bg-opacity));
}

.hover\:bg-green-600:hover {
    --tw-bg-opacity: 1;
    background-color: #2980b9
}

.hover\:bg-green-primary:hover {
    --tw-bg-opacity: 1;
    background-color: #2980b9
}

.hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.hover\:bg-green-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(195 233 208 / var(--tw-bg-opacity));
}

.hover\:bg-opacity-40:hover {
    --tw-bg-opacity: 0.4;
}

.hover\:bg-opacity-10:hover {
    --tw-bg-opacity: 0.1;
}

/* ============ Color Background .end// ============ */
.text-transparent {
    color: transparent;
}

.hover\:text-green-700:hover {
    --tw-text-opacity: 1;
    color: rgb(29 128 185 / var(--tw-bg-opacity));
}

.hover\:text-blue-700:hover {
    --tw-text-opacity: 1;
    color: rgb(29 78 216 / var(--tw-text-opacity));
}

.hover\:text-gray-800:hover {
    --tw-text-opacity: 1;
    color: rgb(66 66 66 / var(--tw-text-opacity));
}

.hover\:text-blue-500:hover {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}

.bg-right {
    background-position: right;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}




.brand {
    width: 2rem;
    height: 2rem;
}

@media (min-width: 1024px) {
    .brand {
        width: 38px;
        height: 38px;
    }
}

@media (min-width: 1280px) {
    .brand {
        width: 228px;
        height: 38px;
    }
}


body {
    font-family: 'Lato', sans-serif !important;
}

.font-roboto {
    font-family: 'Roboto', sans-serif !important;
}

.font-intro {
    font-family: 'Intro', sans-serif !important;
}

.curved {
    position: relative;
    background-color: #fafafa;
    z-index: 10;
    width: 100%;
    margin-top: -70px;
    height: 100px;
    border-radius: 200vh 200vh 0 0/20vh 20vh 0 0;
    -moz-border-radius: 200vh 200vh 0 0/20vh 20vh 0 0;
    -webkit-border-radius: 200vh 200vh 0 0/20vh 20vh 0 0;
    overflow: hidden
}

.carousel .carousel-bg {
    animation: 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --tw-bg-opacity: 1;
    background-color: rgb(238 238 238 / var(--tw-bg-opacity))
}

.section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    min-height: 740px;
}

.hero {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 1536px) {
    .hero {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1280px) {
    .hero {
        max-width: 88rem;
        margin-left: auto;
        margin-right: auto;
    }
}


h1.text-hero {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    h1.text-hero {
        font-size: 2rem;
        margin-bottom: 0.75rem;
    }
}

@media (min-width: 1024px) {
    h1.text-hero {
        font-size: 2.625rem;
        margin-bottom: 0.5rem;
        line-height: 1.625;
        text-align: center;
        letter-spacing: -0.01562em;
        padding-top: 0.3125rem;
    }
}

h2.text-hero {
    max-width: 350px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.01562em;
    font-size: 1.5rem;
    line-height: 1.75;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    h2.text-hero {
        max-width: 600px;
        font-size: 1.875rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 1024px) {
    h2.text-hero {
        font-size: 2.25rem;
        line-height: 1.5;
        margin-bottom: 3rem;
    }
}

p.text-hero {
    color: #a0aec0;
    font-weight: 500;
    line-height: 1.625;
    text-align: center;
    max-width: 20rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

@media (min-width: 768px) {
    p.text-hero {
        max-width: 28rem;
        margin-bottom: 1.75rem;
        font-size: 1rem;
    }
}

.hero-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
    background-repeat: no-repeat;
    padding-top: 12px;
    padding-bottom: 12px;
}

.section-form {
    max-width: 36rem;
}

@media (min-width: 1024px) {
    .section-form {
        max-width: 48rem;
        /* lg:max-w-2xl */
    }
}

.form-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #bcc4d1;
    padding: 6px 9px;
    width: 100%;
}

.frame-form {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(189 189 189);
}

.ku-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1
}

.ku-icon--xs .ku-icon__svg {
    width: 14px;
    height: 14px
}

.ku-icon--sm .ku-icon__svg {
    width: 18px;
    height: 18px
}

.ku-icon--md .ku-icon__svg {
    width: 24px;
    height: 24px
}

.ku-icon--lg .ku-icon__svg {
    width: 32px;
    height: 32px
}

.ku-icon--xl .ku-icon__svg {
    width: 42px;
    height: 42px
}

.ku-icon__svg {
    transform-origin: center
}

.input-form {
    min-width: 0;
    placeholder: #6b7280;
    border: none;
    flex-grow: 1;
    outline: none;
}

.button-form {
    display: flex;
    justify-content: space-between;
    background-color: #1F9D55;
    border-radius: 0.375rem;
    color: #ffffff;
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
}

.popular-search-text {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: #d1d5db;
    margin-bottom: 1rem;
}

.popular-item {
    max-width: 36rem;
}

@media (min-width: 1024px) {
    .popular-item {
        max-width: 48rem;
    }
}

.item-trend {
    min-width: 182px;
    height: 54px;
    background-color: white;
    border-radius: 0.75rem;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    justify-content: space-between;
    transition: white 0.3s ease-in-out;
}

.item-trend:hover {
    background-color: #10b981;
}


.text-trend {
    font-weight: bold;
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
}

.text-trend:hover {
    color: #fff;
}

.icon-text-trend {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4CAF50;
}

.icon-text-trend:hover {
    color: #fff;
}

.list-sosmed {
    display: flex;
    width: 100%;
    max-width: 36rem;
    margin-top: 1rem;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .list-sosmed {
        width: fit-content;
        margin-top: 0;
        position: absolute;
        justify-content: center;
        height: 740px;
        top: 0;
        right: 1.5rem;
        flex-direction: column;
    }
}

.item-sosmed {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.375rem;
    cursor: pointer;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
}

.item-sosmed:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.list-icon-sosmed {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
}

.icon-sosmed {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.icon-sosmed:hover {
    opacity: 1;
}

@media (min-width: 768px) {
    .icon-sosmed {
        opacity: 0.4;
    }
}

.frame-sc {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    align-content: center;
}

@media (min-width: 768px) {
    .frame-sc {
        display: grid;
        grid-template-rows: 184px;
        gap: 4px;
        margin-top: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }
}

@media (min-width: 768px) {
    .item-sc {
        position: relative;
        transform: rotate(-90deg);
    }
}


.button-sc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 0.75rem;
    padding-right: 1rem;
    border-radius: 0.375rem;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: none;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 0.25s;
}

.span-icon {
    transform: rotate(0deg);
}


.text-sc {
    white-space: nowrap;
    color: white;
    opacity: 0.8;
    margin-top: revert-layer;
}

.section-news {
    position: relative;
    top: -8rem;
    margin-bottom: -8rem;
    padding-bottom: 6px;
    z-index: 10;
}

@media (min-width: 768px) {
    .section-news {
        top: -14rem;
        margin-bottom: -14rem;
        padding-bottom: 8px;
    }
}

@media (min-width: 1024px) {
    .section-news {
        top: -10rem;
        margin-bottom: -8rem;
        padding-bottom: 12px;
    }
}

.item-news {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .item-news {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }
}

.header-section-news {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.6;
}

@media (min-width: 768px) {
    .header-section-news {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

.line-section {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.line-header-news {
    border-bottom: 1px solid #e5e5e5;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}

.news__preview .news__preview__title {
    overflow: hidden;
    line-break: after-white-space
}

.news__preview__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    font-family: 'Intro', sans-serif !important;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
    max-height: 108px;
    margin-bottom: 0.75rem;
}

@media (min-width: 768px) {
    .news__preview__title {
        -webkit-line-clamp: 2;
        font-size: 1.75rem;
        line-height: 1.6;
        max-height: 90px;
    }
}

.title-news {
    font-family: 'Intro', sans-serif !important;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2.25rem;
    text-transform: uppercase;
    max-height: 108px;
    margin-bottom: 0.75rem;

}

@media (min-width: 768px) {
    .title-news {
        font-size: 1.5rem;
        line-height: 2.5rem;
        max-height: 90px;
    }
}


.frame-kominfo-widget {
    height: 600px;
}

@media (min-width: 768px) {
    .frame-kominfo-widget {
        height: 625px;
    }
}

@media (min-width: 1024px) {
    .frame-kominfo-widget {
        height: 608px;
    }
}

.news__preview__content {
    display: inline-block;
    visibility: visible;
    height: 67%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 24px;
    color: white;

}

@media (min-width: 768px) {
    .news__preview__content {
        height: 50%;
    }
}

.group:hover .news__preview__content {
    background-color: rgba(0, 0, 0, 0.7);
}

.frame-button-news {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .frame-button-news {
        display: none;
    }
}

.frame-info-news {
    opacity: 0.6;
    font-size: 0.75rem;
    margin-top: 1rem;
}

.icon-link {
    visibility: hidden;
    color: #1F9D55;
}

.icon-link:hover {
    visibility: visible;
}

.frame-slider-home {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .frame-slider-home {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (min-width: 1280px) {
    .frame-slider-home {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.frame-slider-program {
    height: 253px;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.75rem;
    border: 1px solid #ffffff;
    transition-property: border, box-shadow;

}

.frame-slider-program:hover {

    border: 1px solid #00796b;
    transition-property: border, box-shadow;
}


@media (min-width: 768px) {
    .frame-slider-program {
        height: 234px;
    }
}

.title-slider-program {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
    color: black;
}

@media (min-width: 768px) {

    .title-slider-program {
        font-size: 1.75rem;
    }
}


.group:hover .title-slider-program {
    color: #34d399;
}

.excerpt-slider-program {
    font-size: 0.875rem;
    line-height: 1.5;
    color: #374151;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.title-serve {
    display: none;
}

@media (min-width: 768px) {
    .title-serve {
        display: block;
    }
}

@media (min-width: 1280px) {
    .title-serve {
        display: none;
    }
}

.title-serve {
    font-size: 2.25rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 2.5rem;
}

.title-serve-xl {
    display: none;
    font-size: 28px;
    text-align: center;
    font-weight: medium;
    line-height: 1.5;
    margin-bottom: 8px;
}

@media (min-width: 1280px) {
    .title-serve-xl {
        display: block;
        font-size: 2.25rem;
        line-height: 2.5rem;
        text-align: left;
        margin-bottom: 12px;
    }
}

.section-category-serve {
    display: block;
}

@media (min-width: 1024px) {
    .section-category-serve {
        display: none;
    }
}

.section-category-serve-md {
    display: none;
}

@media (min-width: 1024px) {
    .section-category-serve-md {
        width: 925px;
        display: block;
        padding-right: 6px;
    }
}

@media (min-width: 1200px) {
    .section-category-serve-md {
        width: 100%;
        padding-right: 0;
    }
}

.section-content-serve-md {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 4px 8px;
}

@media (min-width: 1024px) {
    .section-content-serve-md {
        gap: 4px 10px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr));
    }
}


.content-serve-md {
    border-radius: 0rem;
}

.content-serve-md:hover {

    border-radius: 0.375rem;
}

.rounded-br-md {
    border-bottom-right-radius: 0.375rem;
}

.rounded-bl-md {
    border-bottom-left-radius: 0.375rem;
}

.rounded-br-lg {
    border-bottom-right-radius: 0.5rem;
}

.rounded-bl-lg {
    border-bottom-left-radius: 0.5rem;
}

.rounded-tl-xl {
    border-top-left-radius: 0.75rem;
}

.rounded-tr-xl {
    border-top-right-radius: 0.75rem;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-md {
    border-radius: 0.375rem;
}

.rounded-xl {
    border-radius: 0.75rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-sm {
    border-radius: 0.125rem;
}

.content-calendar {
    width: 3rem;
    height: 3rem;
    border-radius: 0.25rem;
    flex-shrink: 0;
    flex-grow: 0;
}

.p-5 {
    padding: 1.25rem;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-4 {
    padding: 1rem;
}

.p-3 {
    padding: 0.75rem;
}

.p-6 {
    padding: 1.5rem;
}

.p-9 {
    padding: 2.25rem;
}

.p-8 {
    padding: 2rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}



.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-0 {
    padding-left: 0px;
    padding-right: 0px;
}


.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}



.px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}



.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.title-akses {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: auto;
    grid-column-start: auto;
    grid-column-end: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* Adjust according to your needs */
}

@media (min-width: 1024px) {
    .title-akses {
        gap: 1.5rem;
        /* Adjust according to your needs */
    }
}
