.cursor-pointer {
    cursor: pointer;
}

.group:hover .group-hover\:visible {
    visibility: visible;
}

.group:hover .group-hover\:scale-110 {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-125 {
    --tw-scale-x: 1.25;
    --tw-scale-y: 1.25;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:bg-green-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(230 246 236 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:bg-green-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(22 167 92 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:bg-green-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(195 233 208 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:bg-\[\#1F1F1F\] {
    --tw-bg-opacity: 1;
    background-color: rgb(31 31 31 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:bg-opacity-70 {
    --tw-bg-opacity: 0.7;
}

.group:hover .group-hover\:bg-opacity-5 {
    --tw-bg-opacity: 0.05;
}

.group:hover .group-hover\:bg-opacity-40 {
    --tw-bg-opacity: 0.4;
}

.group:hover .group-hover\:bg-opacity-30 {
    --tw-bg-opacity: 0.3;
}

.group:hover .group-hover\:text-green-700 {
    --tw-text-opacity: 1;
    color: rgb(29 128 185 / var(--tw-bg-opacity))
}

.group:hover .group-hover\:text-blue-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(0 27 61 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-blue-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(2 43 85 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-green-800 {
    --tw-text-opacity: 1;
    color: rgb(0 132 68 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-blue-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(26 67 115 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-blue-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(19 60 107 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-green-900 {
    --tw-text-opacity: 1;
    color: rgb(0 100 48 / var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-100 {
    opacity: 1;
}

.group:hover .group-hover\:grayscale-0 {
    --tw-grayscale: grayscale(0);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.bg-opacity-5 {
    background-color: rgba(255, 255, 255, 0.05);
}

.bg-opacity-5:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.blur {
    --tw-blur: blur(8px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.grayscale {
    --tw-grayscale: grayscale(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
    filter: blur(4px) brightness(100%) contrast(100%) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(100%) sepia(0%) drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
}


.backdrop-blur {
    backdrop-filter: blur(4px) brightness(1) contrast(1) grayscale(0) hue-rotate(0deg) invert(0) opacity(1) saturate(1) sepia(0);
}


.backdrop-filter {
    -webkit-backdrop-filter: blur(4px) brightness(100%) contrast(100%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
    backdrop-filter: blur(4px) brightness(100%) contrast(100%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
}


.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.duration-250 {
    transition-duration: 250ms;
}

.duration-500 {
    transition-duration: 500ms;
}

.duration-150 {
    transition-duration: 150ms;
}

.duration-300 {
    transition-duration: 300ms;
}

.duration-200 {
    transition-duration: 200ms;
}

.ease-brand {
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.counter-widget .counter-widget__container {
    transform: translateX(-418px)
}

.counter-widget .counter-widget__container--open {
    transform: translateX(0)
}

@media screen and (max-width:767px) {
    .counter-widget .counter-widget__container {
        transform: translateX(-319px)
    }

    .counter-widget .counter-widget__container--open {
        transform: translateX(0)
    }
}
.fade-enter-active,
.fade-leave-active {
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1)
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.hover-group:hover {
    transform: scale(1.1);
  }
  
.banner__swiper.swiper-container-horizontal>.swiper-pagination-bullets {
    position: relative !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important
}

.banner__swiper .swiper-pagination-bullet {
    width: 13px !important;
    height: 13px !important;
    border: 2px solid #069550 !important;
    margin-left: 8px !important;
    background: none !important;
    opacity: 1 !important
}

.banner__swiper .swiper-pagination-bullet-active {
    background: #069550 !important;
}

.banner__button-next,
.banner__button-prev {
    top: calc(50% - 45px);
    position: absolute;
    width: unset;
    opacity: 1;
    z-index: 10;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #e6f6ec;
    color: #16a75c;
    justify-content: center;
    align-items: center
}

.banner__button-next {
    right: 16px
}

.banner__button-prev {
    left: 16px
}

.banner__navigation {
    opacity: 0;
    transition: opacity .3s ease-in-out
}

.banner__swiper:hover .banner__navigation {
    opacity: 1
}
.featured-program__swiper.swiper-container-horizontal>.swiper-pagination-bullets {
    position: relative !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important
}

.featured-program__swiper .swiper-pagination-bullet {
    width: 13px !important;
    height: 13px !important;
    border: 2px solid #069550 !important;
    margin-left: 8px !important;
    background: none !important;
    opacity: 1 !important
}

.featured-program__swiper .swiper-pagination-bullet-active {
    background: #069550 !important;
    width: 16px !important;
    height: 16px !important
}

.featured-program .navigation__button-left,
.featured-program .navigation__button-right {
    width: 42px !important;
    height: 42px !important;
    border-radius: 50% !important;
    background: #e6f6ec !important;
    color: #16a75c !important
}

.featured-program .swiper-button-next,
.featured-program .swiper-button-prev {
    top: calc(50% - 24px) !important;
    position: absolute !important;
    width: unset !important;
    opacity: 0 !important;
    z-index: 10 !important
}

.featured-program .swiper-button-prev {
    left: -21px !important
}

.featured-program .swiper-button-next {
    right: -21px !important
}

.featured-program .swiper-button-next.swiper-button-disabled .navigation__button-right,
.featured-program .swiper-button-prev.swiper-button-disabled .navigation__button-left {
    color: #bdbdbd !important;
    background: #f5f5f5 !important;
    cursor: auto !important;
    pointer-events: none !important
}

.featured-program .swiper-button-next:after,
.featured-program .swiper-button-prev:after {
    display: none !important
}

.featured-program--container:hover .swiper-button-next,
.featured-program--container:hover .swiper-button-prev {
    opacity: 1 !important
}
.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
}

.text-blue-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(98 119 152 / var(--tw-text-opacity));
}

.text-transparent {
    color: transparent;
}

.text-blue-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(19 60 107 / var(--tw-text-opacity));
}

.text-blue-gray-100 {
    --tw-text-opacity: 1;
    color: rgb(185 195 211 / var(--tw-text-opacity));
}

.text-blue-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(0 27 61 / var(--tw-text-opacity));
}
.divide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    border: none;
    background-color: #eee
}

.divide-left {
    left: 35%
}

.divide-right {
    right: 32%
}
.footer__sitemap__menu summary[data-v-abc8034e]::-webkit-details-marker {
    display: none
}

.footer__sitemap__menu[open] .footer__sitemap__button>*[data-v-abc8034e] {
    transform: rotate(-180deg)
}